:root {
  --color1: #00bfa5;
  --color2: #2c2e35;
  --color3: #8f9091;
  --color4: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  
}
body {
  background-color: var(--color2);
}

/* ------------ LOADER INICIO ------------ */

#loader{
  height: 100%;
  width: 100%;
  background: #2A2C33;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index:1;
  animation: fadeOut 0.5s forwards;
  animation-delay: 2.5s;
  
}
@keyframes fadeOut {
  from{
    opacity:1;
  }
  to{
    opacity:0;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
#loader img{
  position: absolute;
  top: 45%;
  left: 37%;
  width: 25%;
}
@media screen and (max-width:650px){
  #loader img{
    width: 70%;
    left: 16%;
  }
}


/* ------------ LOADER FIN ------------ */



/* ------------ INICIO NAV BAR ----------- */

.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
}

.img-fluid{
  width: 200px;
  height: 300px;
}

#navbar-color {
  font-size: 19px;
  background-color: var(--color1);
}
/* 
.navbar-light .navbar-toggler {
  background-color: white;
} */


/* ------------ FIN NAV BAR ----------- */

/* ------------- SECCION BUSCAR ---------- */
#boton-buscar{
  margin-top: 0px;
}

#buscador-biblio{
  padding-top: 25px;
  padding: auto;
}

#btnBuscar{
  padding-top: 8px;
}


.btn:hover{
   background-color: var(--color1); 
   transition-duration: 0.3s;
}

.col-auto{
  padding-top: 28px;

}
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  transition-duration: 0.5s ;
  border: none;
  outline: none;
  box-shadow: none;
}

.card-img{
    /* width: 80px;
    height: 80px; */
    width: 40%;
    height: 40%;
    object-fit: cover;
}



.img-fluid {
  width: 70px;
  height: 60px;
}

.img-login{
  width: 300px;
  margin-bottom: 5px;
}

.img-biblio{
  width: 210px;
  height: 210px;
}

.card-biblio {
  width: 210px;
  height: 210px;
}

.modal-title{
  color: var(--color1);
}


/* ------------- FIN SECCION BUSCAR ---------- */

/*----------- INICIO CONTACTO ----------------*/


/*----------- FIN CONTACTO ----------------*/

/* -------------- caruseles INICIO ------------------- */
.horizontal_slider{
  display:block;
  /* align-items: center; */
  justify-content:center;
  width:100%;
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 10rem;
  box-sizing: border-box;
  padding-left: auto;
  padding-right: auto;
}
.horizontal_slider::-webkit-scrollbar{
  display: none;
}
.slider_container{
  display:block;
  white-space:nowrap;
}
.item{
  display: inline-block;
  margin-right: 10px;
}
.item_valorados{
  display: inline-block ;
  justify-content:space-evenly;
  width:150px;
  height: 150px;
  object-fit: cover;
}

.item img{
  width:150px;
  object-fit: cover;
}
body{
  background-color:rgb(59, 59, 63)
}
/* -------------- caruseles FIN ------------------- */

/* -------------- caruseles Publicidad INICIO------------------- */

#carruselS{
  visibility: hidden;
  position: absolute;
   top: -9999px;
   left: -9999px;

}
@media screen and (max-width:650px){
  #carruselS{
  visibility: visible;
  position:initial;
  }
  #carruselL{
    visibility: hidden;
    position: absolute;
   top: -9999px;
   left: -9999px;
    }
}
/* -------------- caruseles Publicidad FIN------------------- */

/* ------------- CARDS INICIO ---------- */



.titulo-mj{
  color: var(--color1);
}

#cards-style{
  padding-top: 2rem;
}
.card-body{
  padding-top: 0rem;
}
.card-footer{
  background-color:rgb(255, 255, 255)
}
.info-libro{
  display: flex;
}
#imagenTapa{
  max-width: 10rem;
  padding: 2rem;
}
#imagenTapa:hover{
  filter:grayscale(50%);
  transform: scale(1.1);
}

.info-libro2{
  padding: 2rem;
}
#datos-Libro{
  margin-bottom: 0;
}
@media screen and (max-width:550px){
  .info-libro{
    display: inline-block;}
    .info-libro{
    padding-top: 0rem;}
    #imagenTapa{
    padding-bottom: 0rem;}}
  

/* ------------- CARDSFINAL ---------- */

 footer {
  background-color: rgb(122, 132, 141);
} 

#logo-footer {
  width: 252px;
  height: 77;
} 
/* -------------- 404 ------------------- */
#i404{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  margin-bottom: 15vh;
  max-width: 20rem;
}
.volver{
  color: var(--color1);
  text-align: center;
  text-decoration: none;
}
/* -------------- caruseles INICIO ------------------- */
.horizontal_slider{
  display:block;
  /* align-items: center; */
  justify-content:center;
  width:100%;
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 10rem;
  box-sizing: border-box;
  padding-left: auto;
  padding-right: auto;
}
.horizontal_slider::-webkit-scrollbar{
  display: none;
}
.slider_container{
  display:block;
  white-space:nowrap;
}
.item{
  display: inline-block;
  margin-right: 10px;
}
.item_valorados{
  display: inline-block ;
  justify-content:space-evenly;
  width:150px;
  height: 150px;
  object-fit: cover;
}

.item img{
  width:150px;
  object-fit: cover;
}
body{
  background-color:rgb(59, 59, 63)
}
/* -------------- caruseles FIN ------------------- */
/* -------------- caruseles Publicidad INICIO------------------- */

#carruselS{
  visibility: hidden;
  position: absolute;
   top: -9999px;
   left: -9999px;

}
@media screen and (max-width:650px){
  #carruselS{
  visibility: visible;
  position:initial;
  }
  #carruselL{
    visibility: hidden;
    position: absolute;
   top: -9999px;
   left: -9999px;
    }
}
/* -------------- caruseles Publicidad FIN------------------- */
/* ---------- FIN CARDS FINAL ---------------- */

/* ----------- INICIO SOBRE NOSOTROS --------- */


/* ----------- INICIO SOBRE NOSOTROS --------- */


/* ---------- INICIO BILBIO ---------------- */

  



/* ---------- FIN INICIO BILBIO ---------------- */

/* ---------  INICIO FOOTER ------------- */
 footer {
  background-color:var(--color3)
} 


#logo-footer {
  width: 252px;
  height: 77px;
} 

.text-center {
  justify-content:center;
  text-decoration: none;
  color: var(--color2);
}

#priv-footer {
  text-decoration: none;
}

.row2{
  padding-left: 50px;
}
#info-contac{
  
}
.container-fluid{
  margin-top: 5rem;
}


/**-------- FIN FOOTER ...................../

/* -------------- 404 ------------------- */
#i404{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  margin-bottom: 15vh;
  max-width: 20rem;
}
.volver{
  color: var(--color1);
  text-align: center;
  text-decoration: none;
}
