:root {
  --color1: #00bfa5;
  --color2: #2c2e35;
  --color3: #8f9091;
  --color4: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}
body {
  background-color: var(--color2);
}



/* ------------ INICIO NAV BAR ----------- */

.logo-nav {
  padding-top: 5px;
  padding-right: 150px;
  color: var(--color4);
}

.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
}

#navbarDropdown:hover {
  color: var(--color2);
}

#navbar-color {
  background-color: var(--color1);
}


/* ------------ FIN NAV BAR ----------- */

/*------------- CAROUSEl -------------*/

.carousel-item {
  width: 100%;
  height: 50%;
}

/*----------- Contacto ----------------*/



/* ---------  INICIO FOOTER ------------- */
footer {
  background-color: rgb(122, 132, 141);
}

#logo-footer{
  width: 252px;
  height: 77;
}

/**-------- FIN FOOTER ...................../
/* -----  INICIO SECION MAS VENDIDOS-------- */

.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.horizontal_slider::-webkit-scrollbar {
  display: none;
}
.slider_container {
  display: block;
  white-space: nowrap;
}
.item {
  display: inline-block;
  margin-right: 10px;
}
.item_valorados {
  display: inline-block;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.item img {
  width: 150px;
  object-fit: cover;
}

/* ----- FIN SECION MAS VENDIDOS-------- */
