:root {
  --color1: #00bfa5;
  --color2: #2c2e35;
  --color3: #8f9091;
  --color4: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}
body {
  background-color: var(--color2);
}

/* ------------ INICIO NAV BAR ----------- */

.logo-nav {
  padding-top: 5px;
  padding-right: 150px;
  color: var(--color4);
}

.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
}

#navbar-color {
  background-color: var(--color1);
}

/* ------------ FIN NAV BAR ----------- */

/* ------------- SECCION BUSCAR ---------- */
#boton-buscar{
  margin-top: 20px;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.card-img{
    width: 80px;
    height: 80px;
}


/* ------------- FIN SECCION BUSCAR ---------- */

/*----------- INICIO CONTACTO ----------------*/

/*----------- FIN CONTACTO ----------------*/

/* ---------  INICIO FOOTER ------------- */
 footer {
  background-color: rgb(122, 132, 141);
} 

#logo-footer {
  width: 252px;
  height: 77;
} 

/**-------- FIN FOOTER ...................../

/* -------------- 404 ------------------- */
